---
layout: post  
current: post  
cover:  assets/built/images/python-logo.png  
navigation: True  
title: 주식 분석 및 예측(1)-수집 및 DB   
date: 2022-07-18 20:00:00 +0900  
tags: [project]  
class: post-template  
subclass: 'post tag-python'  
author: chanp5660  
---

{% include Stock-table-of-contents.html %}

# 주식 분석 및 예측(1)-수집 및 DB

- 본 블로그는 주식 가격을 가지고 분석해보면서 예측을 하려는 블로그이다. 많은 블로그들을 참조할 것이며 그에 따라 본 블로그도 공유하려한다.

- 순서
    - <a href="#FinanceDataReader">FinanceDataReader 함수</a>
        - <a href="#StockListing">.StockListing(market)</a>
        - <a href="#DataReader">.DataReader(symbol, start_y_m_d, end_y_m_d)</a>

<p id="FinanceDataReader"></p>

## FinanceDataReader
- [github.com/FinanceData](https://github.com/FinanceData/FinanceDataReader)
- [finance.html](https://financedata.github.io/posts/finance-data-reader-users-guide.html)

- **함수 정리**
    - FinanceDataReader.StockListing(market)
        - market 코드를 넣으면 해당 시장에 상장된 정보를 가져온다.
    - FinanceDataReader.DataReader(symbol, start_yyyy)
    - FinanceDataReader.DataReader(symbol, start_y_m_d, end_y_m_d)
        - 해당 종목의 원하는 범위의 가격 데이터를 수집한다.

In [ ]:
# 설치
#!pip install -U finance-datareader

In [4]:
#  차트 설정
%matplotlib inline
import matplotlib.pyplot as plt

plt.rcParams["font.family"] = 'NanumGothic'
plt.rcParams["figure.figsize"] = (14,4)
plt.rcParams['lines.linewidth'] = 2
plt.rcParams["axes.grid"] = True

In [5]:
import FinanceDataReader as fdr
fdr.__version__

'0.9.50'

## 전체 종목 코드(market)

- 한국
    - KRX : KRX 종목 전체
    - KOSPI : KOSPI 종목
    - KOSDAQ : KOSDAQ 종목
    - KONEX : KONEX 종목
    
- 미국
    - NASDAQ : NASDAQ 종목
    - NYSE : 뉴욕 증권거래소 종목
    - AMEX : AMEX 종목
    - SP500 : S&P 500 종목

<p id="StockListing"></p>


- 한국거래소 상장종목 전체 KRX

In [8]:
df_krx = fdr.StockListing('KRX') 
print(f"한국거래소 상장종목 전체 KRX : {len(df_krx)}")

한국거래소 상장종목 전체 KRX : 2705

In [9]:
display(df_krx.head())

,Code,ISU_CD,Name,Market,Dept,Close,ChangeCode,Changes,ChagesRatio,Open,High,Low,Volume,Amount,Marcap,Stocks,MarketId
0,005930,KR7005930003,삼성전자,KOSPI,,60700,2,-800,-1.30,61400,61400,60700,11445731,697231172000,362962779040000,5969782550,STK
1,373220,KR7373220003,LG에너지솔루션,KOSPI,,566000,1,19000,3.47,548000,570000,543000,829918,465315655000,132444000000000,234000000,STK
2,000660,KR7000660001,SK하이닉스,KOSPI,,88900,2,-800,-0.89,89700,90000,88800,1605515,143506111000,64719410248500,728002365,STK
3,207940,KR7207940008,삼성바이오로직스,KOSPI,,794000,2,-7000,-0.87,801000,804000,792000,50075,39926732000,56440982000000,71174000,STK
4,006400,KR7006400006,삼성SDI,KOSPI,,793000,1,12000,1.54,779000,801000,768000,579283,456986290868,54461507760000,68764530,STK

- S&P 500 종목 전체 S&P500

In [10]:
df_spx = fdr.StockListing('S&P500')

print(f"S&P 500 종목 전체 S&P500 : {len(df_spx)}")

S&P 500 종목 전체 S&P500 : 503

In [11]:
display(df_spx.head())

  Symbol         Name                  Sector                        Industry
0    MMM           3M             Industrials        Industrial Conglomerates
1    AOS  A. O. Smith             Industrials               Building Products
2    ABT       Abbott             Health Care           Health Care Equipment
3   ABBV       AbbVie             Health Care                 Pharmaceuticals
4    ACN    Accenture  Information Technology  IT Consulting & Other Services

<p id="DataReader"></p>


- 신라젠, 2021 년

In [12]:
df = fdr.DataReader('068270', '2021')
display(df.head(20))

              Open    High     Low   Close   Volume    Change
Date
2021-01-04  332320  335157  324285  328540  2122278 -0.032035
2021-01-05  332320  336575  326176  335158  1328247  0.020144
2021-01-06  337520  339884  334211  334213  1033942 -0.002820
2021-01-07  335629  339884  331848  337995  1011751  0.011316
2021-01-08  339884  349812  336575  346976  1819183  0.026571
2021-01-11  356429  365411  346975  353594  2776258  0.019073
2021-01-12  359738  365883  349812  363048  2618009  0.026737
2021-01-13  359265  368720  354538  360685  2203856 -0.006509
2021-01-14  346030  353593  331848  333267  3623245 -0.076016
2021-01-15  329957  330429  307739  311049  3594398 -0.066667
2021-01-18  309630  327121  296867  296867  2751296 -0.045594
2021-01-19  291194  299703  280322  295450  3490677 -0.004773
2021-01-20  298285  306322  291194  294032  1475955 -0.004799
2021-01-21  296867  300176  289776  294977  1146479  0.003214
2021-01-22  295448  298285  291194  293086   883444 -0.006411
2021-01-25  294503  304431  294030  303486   995440  0.035484
2021-01-26  309630  316721  303958  304904  1328530  0.004672
2021-01-27  308212  314830  300649  311049  1072477  0.020154
2021-01-28  302067  319557  298758  316250  1574846  0.016721
2021-01-29  316248  320503  304903  306322  1139059 -0.031393

```python
df = fdr.DataReader('068270', '2017')
df['Close'].plot()
plt.show()
```

<img src="https://user-images.githubusercontent.com/46266247/180197749-540b369a-1e7c-474a-bfa1-02682c1d21a8.png" width="100%">

- 애플(AAPL), 2018-01-01 ~ 2018-05-30

In [22]:
df = fdr.DataReader('AAPL', '2018-01-01', '2018-05-30')
display(df.tail())

            Close   Open   High    Low      Volume  Change
Date
2018-05-23  47.09  46.59  47.12  46.44  80230000.0  0.0064
2018-05-24  47.04  47.19  47.21  46.55  92940000.0 -0.0011
2018-05-25  47.15  47.06  47.41  46.91  69840000.0  0.0023
2018-05-29  46.98  46.90  47.19  46.72  90060000.0 -0.0036
2018-05-30  46.88  46.93  47.00  46.70  74760000.0 -0.0021

- 애플(AAPL), 2017년~

```python
df = fdr.DataReader('AAPL', '2017')
df['Close'].plot()
plt.show()
```

<img src="https://user-images.githubusercontent.com/46266247/180197751-a041edf5-4e4d-487a-a966-c22d7fbd3fec.png" witdh="100%">

-- 수정중 --